.survival-mode-content {
    margin-top: 140px;
    display: flex;
    justify-content: flex-end;
    padding-right: 160px;
    position: relative;
}

.survival-mode-content h2 {
    font-size: 175px;
    font-weight: var(--medium);
    color: var(--red);
    letter-spacing: 10px;
    transform: rotate(-90deg);
    height: 250px;
    position: absolute;
    top: 200px;
    right: 8em;
}

.img-survival-content {
    flex-shrink: 0;
    width: 1385px;
    height: 615px;
    background-image: url(/resources/png/camping-img.png);
    background-repeat: no-repeat;
    position: relative;
}

.survival-number-content {
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    width: 175px;
    height: 175px;
    position: absolute;
    right: 0;
}

.survival-number-content span {
    font-weight: var(--medium);
}

.survival-number-content span:nth-child(1) {
    font-size: 60px;
}

.survival-number-content span:nth-child(1)::before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 2px;
    position: absolute;
    top: 100px;
    right: 63px;
    background-color: var(--red);
}

.survival-number-content span:nth-child(2) {
    font-size: 18px;
    position: relative;
    left: 15px;
}

.survival-mode-text {
    align-items: flex-start;
    background-color: var(--light-blue);
    width: 495px;
    height: 270px;
    position: absolute;
    bottom: 0;
    padding: 35px 0 0 55px;
}

.survival-mode-text h3 {
    font-size: 60px;
    font-weight: var(--medium);
    letter-spacing: 5px;
}

.survival-mode-text p {
    font-family: var(--roboto-font);
    font-size: 16px;
    line-height: 1.5;
    padding: 20px 0;
}

.survival-mode-text > a {
    position: relative;
    bottom: 20px;
}

.img-survival-content button {
    position: absolute;
}

.img-survival-content button:nth-child(3) {
    right: 0;
    bottom: 66px;
}

.img-survival-content button:nth-child(4) {
    position: absolute;
    right: 0;
    bottom: 0;
}
