.your-results-content {
    display: flex;
    justify-content: space-between;
    padding-right: 160px;
    position: relative;
    margin-top: 150px;
}

.your-results-text {
    align-items: flex-start;
    margin-top: 290px;
}

.your-results-text span:nth-child(1) {
    font-size: 18px;
    font-weight: var(--medium);
}

.your-results-text span:nth-child(2) {
    font-size: 280px;
    font-weight: var(--medium);
    color: var(--red);
    height: 280px;
    bottom: 260px;
    bottom: 80px;
}

.your-results-text p {
    font-size: 60px;
    font-weight: var(--medium);
    bottom: 80px;
}

.your-results-text p strong {
    color: var(--red);
}

.your-results-text a {
    bottom: 70px;
}

.your-results-text> p:nth-child(5) {
    color: var(--white);
    font-size: 174px;
    font-weight: var(--medium);
    transform: rotate(-90deg);
    height: 250px;
    width: 900px;
    position: absolute;
    right: 5.5em;
    top: 400px;
}

.image-content {
    background-image: url(/resources/png/person-image.png);
    width: 1055px;
    height: 1020px;
}