.display-flex {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.right-65px {
    margin-right: 65px;
}

.font-bold {
    font-weight: var(--bold);
}