.display-flex {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.right-65px {
    margin-right: 65px;
}

.font-bold {
    font-weight: var(--bold);
}

.find-out-more-link {
    font-size: 22px;
    text-decoration: none;
    color: var(--black);
    font-weight: var(--medium);
}

.find-out-more-link:hover {
    transition: .4s;
    color: var(--red);
}

.find-out-more-link::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(/resources/png/x-icon.png);
    margin-right: 20px;
    position: relative;
    top: 10px;
}

.position-relative {
    position: relative;
}

.button-red {
    width: 66px;
    height: 66px;
    background-color: var(--red);
}

.button-light-blue {
    width: 66px;
    height: 66px;
    background-color: var(--light-blue);
}