:root {
    /* Primary Colors */
    --red: rgb(228, 0, 59, 100%);
    --light-blue: rgb(237,240,242,100%);
    --white: rgb(255,255,255,100%);
    --light-white: rgb(237,240,242,100%);
    --black: rgb(0,0,0,100%);

    /* Font */
    --teko-font: 'Teko', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    /* Weights */
    --light: 300;
    --regular: 400;
    --medium: 600;
    --bold: 700;
}